.cart-main{
	width: 70%;
	margin: 2em auto 3em;
	font-family: Times New Roman;
}
.cart-main table{
	width: 100%;
	border-collapse: collapse;
	background-color: #fafafa;
	text-align: center;
	margin-top: 1.5em;
}
.cart-main table th{
	height: 3em;
}
.cart-main h2{
	margin: 0 0 .2em;
	font-weight: normal;
}
.cart-main table td svg:hover{
	color: #e6ae48;
}
.cart-main table td svg path{
	display: block;
	width: 100%;
}
.cart-main table td svg:active{
	color: #885b09;
}
.cart-main table input{
	display: inline-block;
	width: 2em;
	height: 2em;
	text-align: center;
	background-color: #fafafa;
	border: 1px solid #f1f1f1;
}
.cart-main .btn-OrderGr{
	width: 100%;
	text-align: right;
	margin-top: 2em;
}
.cart-main .btn-OrderGr button{
	color: white;
	background-color: black;
	outline: none;
	border: none;
	font-family: Times New Roman;
	margin-left: 2em;
	padding: .4em 1em;
	transition: .3s;
}
.cart-main .btn-OrderGr button:hover{
	background-color: #e6ae48;
}
.cart-main .btn-OrderGr button:active{
	background-color: #ad7309;
}
#alertCartPopUp{
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: 20%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px #9a9a9a;
	padding: 2em 2em;
	text-align: center;
}
#alertCartPopUp button{
	width: 40%;
	background-color: #0076ad;
	color: white;
	outline: none;
	border: none;
	border-radius: 2px;
	padding: .5em;
	transition: .3s;
}
#alertCartPopUp button:hover{
	background-color: #2197cf;
}
#alertCartPopUp button:nth-of-type(2){
	margin-left: 2em;
	background-color: #757575;
}
#alertCartPopUp button:nth-of-type(2):hover{
	color: black;
	background-color: #b3b3b3;
}
#alertCartPopUp h4{
	margin: .5em 0 2em;
}
#alertCartPopUp span{
	color: #3b92b8;
}